body {
  font-family: "Roboto" sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ---------------- HEADER ---------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
}

.logo-header {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-header-2 {
  color: black;
}

.nav-list:not(:last-child) {
  margin-right: 50px;
}

.nav-list {
  position: relative;
}

.header-link-studio {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-link-studio::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 5px;
  background: #2196f3;
  border-radius: 2px;

  /* opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* -- header-portfolio -- */
.header-link-portfolio {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header-link-portfolio::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 5px;
  background: #2196f3;
  border-radius: 2px;
}

/* .header-link:hover::after,
.header-link:focus::after {
    opacity: 1;
} */

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-mail-li:not(:last-child) {
  margin-right: 30px;
}

.header-mail-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icons {
  fill: currentColor;
  display: block;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: #2196f3;
}

.header-tel-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-icons {
  fill: currentColor;
  display: block;
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196f3;
}

/* ---------------- HERO ---------------- */

.hero-title {
  padding-top: 200px;
  padding-bottom: 200px;
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img./hero-bg.jpg);
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-h1 {
  margin-bottom: 40px;
  max-width: 696px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  width: 200px;
  min-height: 50px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #147dd3;
}

.backdrop {
  position: fixed;
  /* z-index: 100; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ---------------- MODAL WINDOW ---------------- */

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
}

.modal-button {
  position: absolute;
  top: 9px;
  right: 9px;
  min-width: 30px;
  min-height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.modal-button:hover,
.modal-button:focus {
  fill: #2196f3;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-text {
  margin-bottom: 12px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-label {
  margin-bottom: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  position: relative;

  width: 448px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
}

.modal-form-icons {
  position: absolute;
  top: 29px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:hover > .modal-form-icons,
.form-field:focus-within > .modal-form-icons {
  fill: #2196f3;
}

.form-field:hover > .form-input,
.form-field:focus-within > .form-input {
  border: 1px solid #2196f3;
}

.form-field-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px 12px 16px;
  font-size: 14px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:hover,
.modal-comment:focus {
  border: 1px solid #2196f3;
}

.form-field-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox-icon {
  margin-right: 8px;

  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  cursor: pointer;
}

.checkbox:hover + .checkbox-icon,
.checkbox:focus + .checkbox-icon {
  border: 2px solid #2196f3;
}

.checkbox:checked + .checkbox-icon {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url(../img./vector-2.svg);
  background-size: contain;
  background-origin: border-box;
}

.agreement-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-label-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.modal-form-button-div {
  display: flex;
  justify-content: center;
}

.modal-form-button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 55px 10px 55px;

  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #147dd3;
}

/* ---------------- ABOUT ---------------- */

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-advantage {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.about-advantage-text {
  max-width: 270px;
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #fcf8fc;
  border-radius: 4px;
}

.about-title {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ---------------- ACTIVITY ---------------- */

.activity-box {
  padding-bottom: 94px;
}

.activity {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.activity-img {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.img-activity {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.description-activity {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.description-activity-text {
  width: 205px;
  height: 16px;
  left: 298px;
  top: 1462px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* ---------------- TEAM ---------------- */

.team-section {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-h {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.employees {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.employee {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.name-and-position {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-name {
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-profession {
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
}

.team-social-link:hover .team-social-icons,
.team-social-link:focus .team-social-icons {
  fill: #ffffff;
}

/* ---------------- CLIENTS ---------------- */

.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-item + .clients-item {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icons {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

/* ---------------- FOOTER ---------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contact-container {
  display: flex;
  align-items: baseline;
}

.footer-contact {
  margin-right: 70px;
}

.footer-social {
  margin-right: 80px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logo-footer-2 {
  color: #ffffff;
}

.footer-address {
  display: inline-block;
}

.address-footer {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover,
.address-footer:focus {
  color: #a3a3a3;
}

.mail-footer {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff99;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mail-footer:hover,
.mail-footer:focus {
  color: #ffffffe1;
}

.tel-footer {
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff99;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-footer:hover,
.tel-footer:focus {
  color: #ffffffe1;
}

.footer-social-text {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}

.footer-form-subscription {
  display: flex;
  flex-wrap: wrap;
}

.footer-form-text {
  margin-bottom: 20px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-form input {
  margin-right: 12px;

  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: #fff;
  background-color: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

input:hover {
  border: 1px solid rgba(207, 207, 207, 0.76);
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover,
.footer-form-button:focus {
  background-color: #1673c0;
}

.footer-form-button-span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-right: 10px;
}

/* .footer-form-button-icons {
    margin-left: 10px;
} */

/* - - - - - - - PORTFOLIO - - - - - - - */

/* ---------------- BUTTON ---------------- */

.portfolio-conten {
  padding-top: 100px;
  padding-bottom: 94px;
}
.portfolio-button-div {
  margin-bottom: 56px;
}

.button-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 8px;
}

.button-portfolio-li:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  flex-basis: calc(100% / 5 - 8px);
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio-all {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ---------------- CONTENT ---------------- */

.project-icons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project {
  display: inline-block;
  position: relative;
  flex-basis: calc(100% / 9 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project:hover,
.project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project:hover .project-overlay,
.project:focus .project-overlay {
  transform: translateY(0);
  opacity: 1;
}

.project:hover .overlay-text,
.project:focus .overlay-text {
  opacity: 1;
}

.project-content-img {
  position: relative;
  width: 370px;
  height: 294px;
}

.project-overlay {
  display: inline-block;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  /* opacity: 0; */

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 322px;
  height: 168px;

  z-index: 100;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.project-name-portfolio {
  position: relative;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.name-project {
  margin-bottom: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.category-project {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
